.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 8px; 
  grid-template-areas: 
    "left center right"
}
.left { grid-area: left; }
.center { grid-area: center; }
.right { grid-area: right; }